{% extends 'template.html' %}
{% block conteudo %}            
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th>{{nome}}</th>
                        <th>Vacina</th>
                        <th>Data</th>
                    </tr>

                </thead>
                <tbody>
                    <div>
                        <div>
                            <a class="button floatLeft" href="/novavacina" style="border:1px solid; padding: 11px 21px; vertical-align: middle; background:#2D888F; color:white;border-radius:6px; font-size: 20px; font-family:helvetica, serif;text-decoration:none;">Nova Vacina</a>
                            <a class="button floatLeft" href="/logout" style="border:1px solid; padding: 11px 21px; vertical-align: middle; background:#2D888F; color:white;border-radius:6px; font-size: 20px; font-family:helvetica, serif;text-decoration:none;">Deslogar</a>
                            
                    </div>
                    <br>
                    {% for jogo in jogos%}
                    <tr>
                        <td>{{jogo.nome}}</td>
                        <td>{{jogo.categoria}}</td>
                        <td>{{jogo.console}}</td>

                    </tr>
                    {%endfor%}
                             
            </table>
{% endblock %}            